.leftMargin{
    margin-left:20px;
}
.leftMarginback{
    margin-left:-20px;
}
th{
    white-space: nowrap;
}
.leftRightMargin{
    margin-left:20px;
    margin-right:20px;
}
.dropdown-item.active{
    color:blueviolet !important;
    background: none !important;
}

.loader {
    margin-left:380px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  .loaderTable {
    margin-left:380px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .partner_text_head_small{
    color:#252525;
	font-size:40px;
	font-family:'banner_font';
	text-align:center;
  }
  
  tbody {
    display:block;
    height:270px;
    overflow:auto;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

table {
    width:400px;
}